# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Pipenv
Pipfile.lock

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Docker
*.pid

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/
*.log

# Jupyter
.ipynb_checkpoints/

# Env
.env
.env.*
firebase_key.json
docs/AI-Local.postman_environment.json